{% extends "menu/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Меню{% endif %}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h3>Категории</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "menu:product_list" %}">Всё меню</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Mеню{% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}
                        {%else %}{% static "img/No_photo.jpg" %}{% endif %}" alt="no photo">
                </a>
                <br>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <br>
                {{ product.price }} Руб
                <br>
                <b>Аллергены:</b>
                {% for allergen in product.allergen.all %}
                    {{ allergen.name }}
                {% endfor %}
                <br>
                <b>Калорийность:</b>
                    {{ product.nutritionalValue }} Ккал

                <form action="{% url "cart:cart_add" product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Добавить в заказ">
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}
